
.mat-form-field {
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    background-color: rgb(153, 148, 148);
  }

.my-button{
    width: 200px!important;
    height: 80px!important;
    min-width: unset!important;
    min-height: unset!important;
    font-size: 40px;
    margin-left: 4px;
    margin-top: 4px;
}