<hr>

<mat-form-field appearance="fill">
  <mat-label>Choose a Project</mat-label>
  <mat-select [disabled]="disableSelect" id="selected_project">
    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
  </mat-select>
</mat-form-field>

<hr>

<mat-form-field appearance="fill">
  <mat-label>Choose an Activity</mat-label>
  <mat-select [disabled]="disableSelect" id="selected_activity">
    <mat-option *ngFor="let activity of activityList" [value]="activity">{{activity}}</mat-option>
  </mat-select>
</mat-form-field>


<hr>
<button (mouseup)="updateLog()" class="my-start-button"> GO </button>

<i> Expire in: </i> 
  <input mdbInput type="text" id="expire_h" class="my-expire-button" [defaultValue]="0" style="width:20px;"> 
  h
  <input mdbInput type="text" id="expire_min" class="my-expire-button" [defaultValue]="60" style="width:20px;"> 
  min
<br>
<button [disabled]="!ongoingRecordings" (mouseup)="stopLog()" class="my-stop-button"> STOP </button>
<br>
<i class="my-expire-button" *ngIf="ongoingRecordings"> {{ongoingProject}}/{{ongoingActivity}}</i>
<br>
<i class="my-expire-button" *ngIf="ongoingRecordings"> Expires in {{ongoingExpireTimeH}}h:{{ongoingExpireTimeMin}}min</i>
<hr>
