<hr>
<mat-form-field appearance="fill">
    <mat-label>New Project</mat-label>
    <input mdbInput type="text" class="form-control" id="new_project_form"  matInput #first>
</mat-form-field>
<button (mouseup)="newProject()" class="my-button"> Create </button>
<hr>

<mat-form-field appearance="fill">
    <mat-label>New Activity</mat-label>
    <input mdbInput type="text" class="form-control" id="new_activity_form"  matInput #first>
</mat-form-field>
<button (mouseup)="newActivity()" class="my-button"> Create </button>